@import 'base';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff image-url('layout/background.png') repeat;
  // background-color: #eee;
  background-attachment: fixed;
  font: 16px 'Source Sans Pro', sans-serif;
  color: #2E2E2E;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
}

#page {
  background: #fff image-url('layout/left-background.png') repeat-y;
  height: 100%;
  height: auto !important;
  min-height: 100%;

  header {

    position: relative;
    height: 70px;

    h1 {
      width: 70px;
      height: 70px;
      background: image-url('layout/cd.png') no-repeat;
      text-indent: -9999em;
      //float: left;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    nav {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.7em;
      position: absolute;
      top: 0;
      left: 100px;

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        display: inline;
        float: left;
        margin: 0;

        a {
          display: inline-block;
          margin: 0;
          padding: 10px 13px 11px 13px;
          text-decoration: none;
          font-size: 18px;

          &.active, &.active:hover {
            color: #000;
            border-bottom: 2px solid #666;
          }

          &:hover {
            border-bottom: 2px solid #ccc;
          }

          &:active {
            color: #555;
          }
        }
      }
    }

    aside {
      //float: right;
      position: absolute;
      top: 5px;
      right: 5px;
      overflow: auto;
      a {
        display: block;
        float: left;
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
        margin-left: 5px;
        // margin: 5px 5px 0 0;

        // border-radius: 2px;
        border-radius: 24px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }

    .github {
      // background: url('/images/icons/github.png') no-repeat 0 0;
      background: #333 image-url('icons/github_octocat_14px.png') no-repeat 50% 100%;
      background-size: 14px;
    }
    .linkedin {
      // background: url('/images/icons/linkedin.png') no-repeat 0 0;
      background: #006699 image-url('icons/linkedin_white_14px.png') no-repeat 50% 50%;
      background-size: 13px;
    }
    .twitter {
      // background: url('/images/icons/twitter.png') no-repeat 0 0;
      background: #00aced image-url('icons/twitter_bird_14px.png') no-repeat 50% 50%;
      background-size: 14px;
    }
  }
}

.indented-title {
  padding-left: 85px;
}

.blog {

  margin-top: 10px;
  padding-bottom: 45px;

  .blog-entry {

    overflow: auto;
    margin-bottom: 20px;

    aside {
      width: 70px;
      float: left;

      .date {
        background: image-url('icons/cal.png') no-repeat 0 2px;
        width: 49px;
        height: 58px;
        overflow: hidden;
        margin: 4px 0 0 10px;
        font-weight: bold;
        text-align: center;

        .month {
          color: #fff;
          font-size: 14px;
          padding-top: 1px;
          text-transform: uppercase;
        }

        .day {
          color: #000;
          font-size: 27px;
          margin-top: 0;
        }
      }
    }

    article {
      margin-left: 70px;
      padding: 0;

      .read-more {
        padding: 10px 20px 20px 20px;

        a {
          font-size: 18px;
          // background-color: #fafafa;
          // background-color: #edfaff;
          padding: 5px 10px 5px 20px;
          border-radius: 4px 4px 0 0;
          // text-decoration: none;
          // border-bottom: 1px solid #ddd;
          // border-bottom: 1px solid #0882d3;
        }
      }

      h2 a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.view-single {
        h2 {
          font-size: 40px;
          line-height: 47px;
        }
      }

      h2, h3, h4, h5, p {
        padding: 0 20px;
      }

      p, ul li, ol li {
        font-size: 17px;
        line-height: 28px;
      }

      p code, li code {
        margin: 0 3px;
        padding: 2px 5px;
        font-family: 'Source Code Pro', 'Monaco', monospace;
        font-size: 16px;
        // border: 1px solid #D4D5D7;
        border-radius: 4px;
        background-color: #e0f2ff;
        background-color: #e8f5ff;
        background-color: #edfaff;
        color: #268BD2;
        color: #0882d3;
        white-space: nowrap;
      }

      h3 {
        padding: 12px 20px 0 20px;
        background-color: #fff;
        font-size: 30px;
        border-bottom: 1px solid #e5e5e5;
        margin: 50px 20px 15px 20px;
        padding: 0 0 10px 0;
      }

      h4 {
        color: #222;
        font-size: 26px;
        margin-bottom: 14px;
        margin-top: 26px;
      }

      h5 {
        margin-bottom: 8px;
        color: #111;
      }

      ul li, ol li {
        margin: 4px 10px 2px 44px;
      }

      ul li {
        list-style-type: disc;
        line-height: 28px;
      }

      ul li ul {
        margin-left: 0;
        color: #555;
        li {
          margin: 4px 0 2px 30px;
        }
      }


      ol li {
        font-size: 110%;
        line-height: 28px;
      }

      ol ul {
        margin-left: 0;
        li {
          margin-left: 17px;
        }
      }

      pre {
        // background: #f8f8f8;
        background: #272822;
        color: #f8f8f8;
        margin-bottom: 20px;
        // margin-left: 20px;
        padding: 15px;
        // border-top: 2px dashed #eaeaea;
        // border-bottom: 2px dashed #eaeaea;
        // border-left: 2px dashed #eaeaea;
        // border: 1px solid #eaeaea;
        border-right: none;
        font-size: 14px;
        line-height: 22px;
        overflow-x: auto;
        font-family: 'Source Code Pro', 'Monaco', courier, monospace;
      }

      code {
        // font-family: monospace;
      }

      .info-bubble {
        background-color: #fbfbfb;
        // padding: 0 20px;
        margin: 0 0 20px 0;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        color: #333;

        .heading {
          font-family: 'Source Sans Pro', serif;
          color: #111;
          padding: 16px 0 16px 15px;
          margin-bottom: 15px;
          background-color: #f7f7f7;
          font-size: 18px;
          border-bottom: 1px solid #eaeaea;
        }

        p {
          padding: 0 15px;
        }
      }
    }
  }

  .paginate {
    margin-left: 70px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fcfcfc;
    // padding: 20px 0;

    .prev, .next {
      float: left;
      width: 50%;
      height: 60px;
      padding-top: 15px;

      a {
        text-decoration: none;
        font-size: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .next {
      text-align: right;
      padding-right: 20px;
    }
    .prev {
      text-align: left;
      padding-left: 20px;
    }
  }
}

.disqus {
  border-top: 1px solid #eee;
  //border-bottom: 1px solid #eee;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
  margin-left: 70px;
  background: #fcfcfc;
}

.about, .contact {
  margin-top: 10px;
  font-size: 17px;
  line-height: 28px;
}

.contact {
  padding: 0 20px 45px 90px;
}

.about {
  h2 {
    margin-left: 90px;
  }

  .bio {
    padding: 0 20px 20px 0;
    margin-left: 90px;
  }

  .social {
    // width: 40px;
    // height: 300px;
    // float: left;
    // margin-left: 20px;
    margin-left: 90px;

    a {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      text-decoration: none;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      // margin-bottom: 10px;
      margin-right: 15px;
    }

    .cv {
      background-color: #424242;
      color: #fff;
      font-size: 20px;
      padding-top: 9px;
    }

    .twitter {
      background: #00aced image-url('icons/twitter_bird.png') no-repeat 50% 50%;
    }

    .github {
      background: #333 image-url('icons/github_octocat.png') no-repeat 50% 100%;
    }

    .linkedin {
      background: #006699 image-url('icons/linkedin_white.png') no-repeat 50% 50%;
    }
  }
}

// work
//

.work {

  //padding-top: 8px;
  padding-top: 10px;
  overflow: auto;

  .indent {
    margin-left: 90px;
  }

  .work-chrono {
    width: 70px;
    float: left;

    .work-box {
      border: 5px solid #fff;
      background: #333;
      height: 44px;
      width: 44px;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s;
      margin: 0 0 10px 8px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .work-detail {

    padding-left: 20px;

    h3 {
      margin-bottom: 15px;
    }

    overflow: auto;
  }

  .work-listing {
    //padding-right: 20px;
  }

  .year-box {
    float: left;
    width: 70px;

    aside {
      display: block;
      text-align: center;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: bold;
      font-size: 1.8em;
      background: #fff;
      width: 55px;
      padding: 2px 0 5px 0;
      margin: 0 auto;
      border-radius: 5px;
    }
  }

  .work-group {
    margin-left: 90px;
  }

  .work-item {
    width: 415px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.1);
    box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.1);

    .work-aux {
      padding: 5px 10px 0 10px;
      color: #555;
    }

    h4 {
      //font-family: 'Yanone Kaffeesatz', sans-serif;
      //font-size: 2em;
      margin: 0;

      a {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0 0 10px 0;
      border-bottom: 1px solid #ddd;
    }

    .picture-frame {
      padding: 0 10px 10px 10px;
    }
    .picture {
      height: 170px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 3px 2px rgba(120, 120, 120, 0.15);
      box-shadow: 0px 0px 3px 2px rgba(120, 120, 120, 0.15);
    }
  }

  .work-detail {

    //border: 1px solid #ddd;
    //border-radius: 8px;
    //width: 100%;
    margin: 0 20px 20px 0;

    .work-aux {
      width: 310px;
      float: left;
      //border: 1px solid #ddd;
      border-right: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 80px;
      //background: #f5f5f5;
      padding: 10px;
    }
    .picture-frame {
      margin-left: 310px;
    }
    .picture {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border: 1px solid #ddd;
      background-color: #333;
      height: 80px;
      //border-bottom-left-radius: 8px;
    }

    h4 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2em;
      margin: 0 0 8px 0;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .work-item, .detail-box {

    //background-color: #f5f5f5;


    //-webkit-box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
    //box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
    //border-radius: 2px;

    .picture, .picture-placeholder {
      //margin: 10px;
      //-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      //box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      //border-radius: 2px;
    }

    .picture-placeholder {
      background: #333;
    }

    .work-aux {
    }


  }

  .work-detail {

    margin-bottom: 0;

    .work-aux {
      height: 200px;
      background-color: #fff;
      border: none;
      padding: 0;
      position: relative;
    }

    .completed {
      margin-bottom: 6px;
    }

    .techs {
      //position: absolute;
      //bottom: 0;
      //margin: 0 0 -5px 0;
      margin: 10px 0 0 0;
      li {
        list-style: none;
        display: block;
        float: left;
        background-color: #f8f8f8;
        padding: 2px 5px;
        border: 1px solid #f1f1f1;
        margin: 0 5px 5px 0;
        font-size: 0.8em;
        //font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
      }
    }

    .picture-frame {
      margin-left: 350px;
      padding-top: 5px;
    }

    .picture {
      height: 200px;
      border-radius: 8px;
      border: none;
      -webkit-box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
      box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
    }
  }

  .work-description {
    margin: 0 20px 20px 90px
  }


  .work-detail-techs {
    width: 70px;
    float: left;
    text-align: center;
    padding-top: 7px;

    .dim {
      height: 500px;
      opacity: 0.5;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    .tech {

      margin: 0 0 10px 0;

      span, abbr {
        font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
        font-size: 0.9em;
        background: #333;
        color: #fff;
        padding: 4px 6px;
        border-radius: 3px;
        cursor: default;

        background-image: linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -o-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);

        //@include box-shadow-inset(0px, 0px, 2px, #000);
      }
    }
  }

  .work-detail {
    padding: 0 20px 20px 20px;
    margin-left: 70px;
  }

  .detail-box {
    width: 100%;
    height: auto;

    .status {
      overflow: auto;
      padding: 13px 0 3px 0;

      p {
        background: #fcfcfc;
        padding: 3px 8px;
        font-size: 1.1em;
        border: 1px solid #ddd;
        border-radius: 3px;
        //@include box-shadow(inset, 0px, 0px, 2px, #aaa);
      }

      .date {
        float: left;
      }
      .url {
        float: right;
      }
    }

    .description {
      background: #fcfcfc;
      padding: 10px 8px 0 8px;
      margin: 8px 0 0 0;
      font-size: 1.1em;
      border: 1px solid #ddd;
      border-radius: 3px;

      p {
        margin: 0 6px 10px 6px;
        padding: 0;
      }
    }
  }
}

/* IE stuff */

.no-boxshadow .work .work-item {
  border: 1px solid #ccc;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 980px) {
  .container {
    width: 100%;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  .work {
    .work-item {
      width: 319px;
    }
  }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 27px; line-height: 34px; margin-bottom: 10px; }
  h3 { font-size: 25px; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 17px; line-height: 24px; }
  h6 { font-size: 14px; line-height: 21px; }

  #page {

    background: #fff;

    header {
      background-color: #f5f1e7;
      height: 42px;

      h1 {
        height: 42px;
        width: 42px;
        background-image: image-url('layout/cd_small.png');
      }

      nav {
        left: auto;
        right: 0;
      }
      nav ul a {
        padding-left: 10px;
        padding-right: 10px;
      }
      aside {
        display: none;
      }
    }
  }

  #content {
    margin-top: 20px;
  }

  .disqus {
    margin-left: 0;
  }

  .about, .contact {
    padding-left: 20px;
  }

  .about {
    position: relative;

    h2 {
      // padding-left: 20px;
      margin-left: 0;
    }

    .social {
      margin-left: 0;
    }

    .bio {
      margin-left: 0;
    }
  }

  .blog {
    .blog-entry {
      border-bottom: 2px solid #f2f2f2;

      aside {
        float: right;
      }
      article {
        margin-left: 0;

        p, ul li {
          font-size: 17px;
        }

        h3 {
          margin-top: 0;
          margin-left: 20px;
          margin-right: 20px;
          height: auto;
        }

        &.view-single h2 {
          font-size: 30px;
          line-height: 38px;
        }

        p code, li code {
          white-space: normal;
        }
      }
    }
  }

  .work {
    padding-top: 10px;

    .indent {
      margin-top: 0;
      margin-left: 20px;
    }

    .year-box {
      display: none;
    }
    .work-group {
      margin-left: 20px;
      margin-right: 20px;
    }
    .work-item {
      width: 100%;
      margin-right: 0;
    }
    .work-item .work-aux {
      float: none;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px;
    }
    .work-item .picture-frame {
      margin-left: 0;
    }
    .work-item .picture {
      //background-size: 200%;
    }

    // full portfolio view
    .work-detail {
      margin-left: 0;
      padding-right: 0;
      .work-aux {

        width: auto;
        height: auto;
        float: none;

        .completed {
          float: left;
        } .url {
          float: right;
        }

        .techs {
          display: none;
        }
      }
      .picture-frame {
        margin-left: 0;
      }
    }

    .work-description {
      margin-left: 20px;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .work {

    .year-box {

    }
    .work-group {

    }
    .work-item .work-aux {
      width: 240px;
      height: auto;
    }
    .work-item .picture-frame {

    }

    .work-detail {
      .work-aux {
        .completed, .url {
          float: none;
        }
        .completed {
          margin-bottom: 2px;
        } .url {
          margin-bottom: 6px;
        }
      }
    }

  }
}

code .hll { background-color: #49483e }
code .c { color: #D0D0D0 } /* Comment */
code .err { color: #960050; background-color: #1e0010 } /* Error */
code .k { color: #66d9ef } /* Keyword */
code .l { color: #ae81ff } /* Literal */
code .n { color: #f8f8f2 } /* Name */
code .o { color: #f92672 } /* Operator */
code .p { color: #f8f8f2 } /* Punctuation */
code .cm { color: #D0D0D0 } /* Comment.Multiline */
code .cp { color: #D0D0D0 } /* Comment.Preproc */
code .c1 { color: #D0D0D0 } /* Comment.Single */
code .cs { color: #D0D0D0 } /* Comment.Special */
code .ge { font-style: italic } /* Generic.Emph */
code .gs { font-weight: bold } /* Generic.Strong */
code .kc { color: #66d9ef } /* Keyword.Constant */
code .kd { color: #66d9ef } /* Keyword.Declaration */
code .kn { color: #f92672 } /* Keyword.Namespace */
code .kp { color: #66d9ef } /* Keyword.Pseudo */
code .kr { color: #66d9ef } /* Keyword.Reserved */
code .kt { color: #66d9ef } /* Keyword.Type */
code .ld { color: #e6db74 } /* Literal.Date */
code .m { color: #ae81ff } /* Literal.Number */
code .s { color: #e6db74 } /* Literal.String */
code .na { color: #a6e22e } /* Name.Attribute */
code .nb { color: #f8f8f2 } /* Name.Builtin */
code .nc { color: #a6e22e } /* Name.Class */
code .no { color: #66d9ef } /* Name.Constant */
code .nd { color: #a6e22e } /* Name.Decorator */
code .ni { color: #f8f8f2 } /* Name.Entity */
code .ne { color: #a6e22e } /* Name.Exception */
code .nf { color: #a6e22e } /* Name.Function */
code .nl { color: #f8f8f2 } /* Name.Label */
code .nn { color: #f8f8f2 } /* Name.Namespace */
code .nx { color: #a6e22e } /* Name.Other */
code .py { color: #f8f8f2 } /* Name.Property */
code .nt { color: #f92672 } /* Name.Tag */
code .nv { color: #f8f8f2 } /* Name.Variable */
code .ow { color: #f92672 } /* Operator.Word */
code .w { color: #f8f8f2 } /* Text.Whitespace */
code .mf { color: #ae81ff } /* Literal.Number.Float */
code .mh { color: #ae81ff } /* Literal.Number.Hex */
code .mi { color: #ae81ff } /* Literal.Number.Integer */
code .mo { color: #ae81ff } /* Literal.Number.Oct */
code .sb { color: #e6db74 } /* Literal.String.Backtick */
code .sc { color: #e6db74 } /* Literal.String.Char */
code .sd { color: #e6db74 } /* Literal.String.Doc */
code .s2 { color: #e6db74 } /* Literal.String.Double */
code .se { color: #ae81ff } /* Literal.String.Escape */
code .sh { color: #e6db74 } /* Literal.String.Heredoc */
code .si { color: #e6db74 } /* Literal.String.Interpol */
code .sx { color: #e6db74 } /* Literal.String.Other */
code .sr { color: #e6db74 } /* Literal.String.Regex */
code .s1 { color: #e6db74 } /* Literal.String.Single */
code .ss { color: #e6db74 } /* Literal.String.Symbol */
code .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
code .vc { color: #f8f8f2 } /* Name.Variable.Class */
code .vg { color: #f8f8f2 } /* Name.Variable.Global */
code .vi { color: #f8f8f2 } /* Name.Variable.Instance */
code .il { color: #ae81ff } /* Literal.Number.Integer.Long */

code .gh { } /* Generic Heading & Diff Header */
code .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
code .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
code .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

/* lightbox styles */

#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: image-url('layout/prev.png') left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: image-url('layout/next.png') right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}