--- 
title: About me
menu: about
---
%section{:id => 'content', :class => 'about'}
	%h2 About me
	%p
		I am Dave Clark, a web developer in Canterbury, UK and I currently work at the <a href='http://kent.ac.uk'>University of Kent</a> as a software developer in the learning &amp; research team. In the past I've worked at Sun Microsystems and (by extension) <a href='http://oracle.com'>Oracle</a> in the web engineering team, and was the lead web developer at the University of Kent's web team. I also like to keep busy with side-projects, which are mostly documented <a href='/work'>elsewhere on my site</a>.
	%p
		I'm really into Ruby and Javascript at the moment, but also have extensive experience with Java and PHP. I have dabbled with Python, Occam-pi and Haskell and generally enjoy exploring new technologies and platforms.
	%p
		This site is built using <a href='http://nanoc.stoneship.org'>nanoc</a>, which is a great little tool for building a static website out of documents written in Markdown and the like. The source is <a href='https://github.com/clarkdave/clarkdave.net'> on GitHub</a> and I've written a supporting article on <a href='/2012/02/building-a-static-blog-with-nanoc/'>building a static blog with nanoc</a>.