--- 
title: About me
menu: about
---
%section{:id => 'content', :class => 'about'}
	%h2 About me
	%p
		I am Dave Clark, a web developer from Canterbury, UK. I like to work on interesting things, and currently work at the <a href='http://kent.ac.uk'>University of Kent</a> as a software developer in the learning &amp; research team. In the past I've worked at Sun Microsystems and (by extension) <a href='http://oracle.com'>Oracle</a> in the web engineering team, and was the lead web developer at the University of Kent's web team. I also keep busy with an array of side-projects, which are mostly documented <a href='/work'>elsewhere on my site</a> (or will be, when I finish adding them).
	%p
		I tend to use Ruby and JavaScript for personal projects, but also have extensive experience with Java (I really like Groovy), and PHP (although these days that tends to make me cross).
	%p
		This site is built using <a href='http://nanoc.stoneship.org'>nanoc</a>, which is a great little tool for building a static website out of documents written in Markdown and the like. The source is <a href='https://github.com/clarkdave/clarkdave.net'>all on GitHub</a> and I've written a supporting article on <a href='#'>building a static blog with nanoc</a>.