--- 
title: Contact me
menu: contact
---
%section{:id => 'content', :class => 'contact'}
	%h2 Contact me
	%p
		The best way to contact me is via <a href='https://twitter.com/clarkdave'>Twitter</a>, <a href='https://github.com/clarkdave'>GitHub</a> or <a href='http://uk.linkedin.com/in/clarkdavedotnet'>LinkedIn</a>. If you're wondering why I dedicated an entire page to this, well, it's because I'll be sticking a real contact form on here shortly, see?