--- 
title: Work
description: Portfolio of technology work by Dave Clark
menu: work
---
%section{:id => 'content', :class => 'work'}
  .indent
    %h2 Work portfolio
    %p
      Over the last 10 years I have worked on a variety of projects for both fun and business using plenty of languages and platforms. Some of these projects are documented below while others are scattered around <a href='https://github.com/clarkdave'>my GitHub</a>.
  - sorted_portfolios.group_by{|i| i[:created_at].year }.each do |year, group|
    .work-listing.clearfix
      .year-box
        %aside= year
      .work-group
        - group.each do |item|
          .work-item
            .work-aux
              %h4= link_to item[:title], item.path
              %p= item[:snippet]
            .picture-frame
              %a{:href => item.path}
                .picture{:style => 'background-image:url(' + portfolio_image_url(item, 'large') + ')'}
