--- 
title: Work
menu: work
---
%section{:id => 'content', :class => 'work'}
  - sorted_portfolios.group_by{|i| i[:created_at].year }.each do |year, group|
    .work-listing.clearfix
      .year-box
        %aside= year
      .work-group
        - group.each do |item|
          .work-item
            %a{:href => item.path}
              .picture{:style => 'background-image:url(' + portfolio_image_url(item, 'large') + ')'}
            %h4= link_to item[:title], item.path
            %p= item[:snippet]
