@import 'base';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  background: #fff url('/images/layout/background.png') repeat;
  background-attachment: fixed;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brawler', serif;
}

#page {
  background: #fff url('/images/layout/left-background.png') repeat-y;
  height: 100%;
  height: auto !important;
  min-height: 100%;

  header {

    position: relative;
    height: 70px;

    h1 {
      width: 70px;
      height: 70px;
      background: url('/images/layout/cd.png') no-repeat;
      text-indent: -9999em;
      //float: left;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    nav {
      //float: left;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 1.7em;
      position: absolute;
      top: 0;
      left: 100px;

      ul {
        padding: 10px 0 10px 0;
      }

      li {
        display: inline;
        float: left;

        a {
          margin: 0;
          padding: 18px 17px 8px 17px;
          text-decoration: none;
          -moz-transition-property: background, color;
          -moz-transition-duration: 0.15s;

          &.active, &.active:hover {
            background: #424242;
            color: #fff;
          }

          &:hover {
            background: #555555;
            color: #fff;
          }
        }
      }
    }

    aside {
      //float: right;
      position: absolute;
      top: 0;
      right: 0;
      overflow: auto;
      a {
        display: block;
        float: left;
        width: 24px;
        height: 24px;
        margin: 5px 5px 0 0;
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }

    .github {
      background: url('/images/icons/github.png') no-repeat 0 0;
    }
    .linkedin {
      background: url('/images/icons/linkedin.png') no-repeat 0 0;
    }
    .twitter {
      background: url('/images/icons/twitter.png') no-repeat 0 0;
    }
  }
}



.indented-title {
  padding-left: 85px;
}

.blog {

  margin-top: 10px;
  padding-bottom: 45px;
  
  .blog-entry {
    
    overflow: auto;

    aside {
      width: 70px;
      float: left;

      .date {
        background: url('/images/icons/cal.png') no-repeat 0 2px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        width: 49px;
        height: 58px; 
        overflow: hidden;
        margin: 4px 0 0 10px;
        font-weight: bold;
        text-align: center;

        .month {
          color: #fff;
          font-size: 1.3em;
          padding-bottom: 1px;
          text-transform: uppercase;
        }

        .day {
          color: #000;
          font-size: 2em;
          margin-top: 4px;
        }
      }
    }

    article {
      margin-left: 70px;
      padding: 0;

      .read-more {
        padding: 0 20px 20px 20px;
      }

      h2 a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      h2, h3, h4, h5, p {
        padding: 0 20px;
      }

      h3 {
        padding: 12px 20px 0 20px;
        margin-top: 20px;
        //border-bottom: 1px solid #eee;
        background-color: #fff;
        //border-top-left-radius: 30px;
        //border-bottom-left-radius: 30px;
        //margin-left: -10px;
        //height: 60px;
        font-size: 30px;
        border-bottom: 1px solid #e5e5e5;
        margin: 18px 20px 15px 20px;
        padding: 0 0 10px 0;
      }

      h4 {
        color: #222;
        font-size: 26px;
        margin-bottom: 14px;
        margin-top: 26px;
      }

      h5 {
        margin-bottom: 8px;
        color: #111;
      }

      ul li {
        list-style-type: disc;
        margin: 4px 0 2px 44px;
      }

      ol li {
        margin: 4px 0 2px 44px;
      }

      ol ul {
        margin-left: 0;
        li {
          margin-left: 17px;
        }
      }

      pre {
        background: #f8f8f8;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 6px 12px;
        // border-top: 2px dashed #eaeaea;
        // border-bottom: 2px dashed #eaeaea;
        // border-left: 2px dashed #eaeaea;
        border: 1px solid #eaeaea;
        border-right: none;
        border-radius: 3px;
        font-size: 13px;
        color: #222;
        overflow-x: auto;
        // margin-bottom: 20px;
        // padding: 6px 20px;
        // border-top: 2px dashed #eaeaea;
        // border-bottom: 2px dashed #eaeaea;
        // overflow-x: auto;
      }

      code {
        font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
      }
    }
  }
}

.disqus {
  border-top: 1px solid #eee;
  //border-bottom: 1px solid #eee;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
  margin-left: 70px;
  background: #fcfcfc;
}

.about, .contact {
  margin-top: 10px;
  padding: 0 20px 45px 90px;
}

// work
//

.work {

  //padding-top: 8px;
  padding-top: 10px;
  overflow: auto;

  .indent {
    margin-left: 90px;
  }

  .work-chrono {
    width: 70px;
    float: left;

    .work-box {
      border: 5px solid #fff;
      background: #333;
      height: 44px;
      width: 44px;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s;
      margin: 0 0 10px 8px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .work-detail {

    padding-left: 20px;

    h3 {
      margin-bottom: 15px;
    }

    overflow: auto;
  }

  .work-listing {
    //padding-right: 20px;
  }

  .year-box {
    float: left;
    width: 70px;

    aside {
      display: block;
      text-align: center;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: bold;
      font-size: 1.8em;
      background: #fff;
      width: 55px;
      padding: 2px 0 5px 0;
      margin: 0 auto;
      border-radius: 5px;
    }
  }

  .work-group {
    margin-left: 90px;
  }

  .work-item {
    width: 415px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.1);
    box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.1);

    .work-aux {
      padding: 5px 10px 0 10px;
      color: #555;
    }

    h4 {
      //font-family: 'Yanone Kaffeesatz', sans-serif;
      //font-size: 2em;
      margin: 0;

      a {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0 0 10px 0;
      border-bottom: 1px solid #ddd;
    }

    .picture-frame {
      padding: 0 10px 10px 10px;
    }
    .picture {
      height: 170px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 3px 2px rgba(120, 120, 120, 0.15);
      box-shadow: 0px 0px 3px 2px rgba(120, 120, 120, 0.15);
    }
  }

  .work-detail {

    //border: 1px solid #ddd;
    //border-radius: 8px;
    //width: 100%;
    margin: 0 20px 20px 0;

    .work-aux {
      width: 310px;
      float: left;
      //border: 1px solid #ddd;
      border-right: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 80px;
      //background: #f5f5f5;
      padding: 10px;
    }
    .picture-frame {
      margin-left: 310px;
    }
    .picture {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border: 1px solid #ddd;
      background-color: #333;
      height: 80px;
      //border-bottom-left-radius: 8px;
    }

    h4 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2em;
      margin: 0 0 8px 0;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .work-item, .detail-box {
    
    //background-color: #f5f5f5;
    

    //-webkit-box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
    //box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
    //border-radius: 2px;

    .picture, .picture-placeholder {
      //margin: 10px;
      //-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      //box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      //border-radius: 2px;
    }

    .picture-placeholder {
      background: #333;
    }

    .work-aux {
    }

    
  }

  .work-detail {
    
    margin-bottom: 0;

    .work-aux {
      height: 200px;
      background-color: #fff;
      border: none;
      padding: 0;
      position: relative;
    }

    .completed {
      margin-bottom: 6px;
    }

    .techs {
      //position: absolute;
      //bottom: 0;
      //margin: 0 0 -5px 0;
      margin: 10px 0 0 0;
      li {
        list-style: none;
        display: block;
        float: left;
        background-color: #f8f8f8;
        padding: 2px 5px;
        border: 1px solid #f1f1f1;
        margin: 0 5px 5px 0;
        font-size: 0.8em;
        //font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
      }
    }

    .picture-frame {
      margin-left: 350px;
      padding-top: 5px;
    }

    .picture {
      height: 200px;
      border-radius: 8px;
      border: none;
      -webkit-box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
      box-shadow: 0px 0px 3px 2px rgba(95, 95, 95, 0.2);
    }
  }

  .work-description {
    margin: 0 20px 20px 90px
  }


  .work-detail-techs {
    width: 70px;
    float: left;
    text-align: center;
    padding-top: 7px;

    .edit {
      display: block;
      width: 32px;
      height: 32px;
      background: asset-url('icons/edit.png', image) no-repeat 0 0;
      margin: 0 0 12px 18px;
    }

    .dim {
      height: 500px;
      opacity: 0.5;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    .tech {
      
      margin: 0 0 10px 0;

      span, abbr {
        font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
        font-size: 0.9em;
        background: #333;
        color: #fff;
        padding: 4px 6px;
        border-radius: 3px;
        cursor: default;

        background-image: linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -o-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
        background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);

        //@include box-shadow-inset(0px, 0px, 2px, #000);
      }
    }
  }

  .work-detail {
    padding: 0 20px 20px 20px;
    margin-left: 70px;
  }

  .detail-box {
    width: 100%;
    height: auto;

    .status {
      overflow: auto;
      padding: 13px 0 3px 0;

      p {
        background: #fcfcfc;
        padding: 3px 8px;
        font-size: 1.1em;
        border: 1px solid #ddd;
        border-radius: 3px;
        //@include box-shadow(inset, 0px, 0px, 2px, #aaa);
      }

      .date {
        float: left;
      }
      .url {
        float: right;
      }
    }

    .description {
      background: #fcfcfc;
      padding: 10px 8px 0 8px;
      margin: 8px 0 0 0;
      font-size: 1.1em;
      border: 1px solid #ddd;
      border-radius: 3px;

      p {
        margin: 0 6px 10px 6px;
        padding: 0;
      }
    }
  }
}

/* IE stuff */

.no-boxshadow .work .work-item {
  border: 1px solid #ccc;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
  .work {
    .work-item {
      width: 319px;
    }
  }
    
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  
  h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 27px; line-height: 34px; margin-bottom: 10px; }
  h3 { font-size: 25px; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 17px; line-height: 24px; }
  h6 { font-size: 14px; line-height: 21px; }

  #page {

    background: #fff;

    header {
      background-color: #f5f1e7;
      height: 42px;

      h1 {
        height: 42px;
        width: 42px;
        background-image: url('/images/layout/cd_small.png');
      }

      nav {
        left: auto;
        right: 0;
      }
      nav ul a {
        padding-left: 10px;
        padding-right: 10px;
      }
      aside {
        display: none;
      }
    }
  }
  
  .disqus {
    margin-left: 0;
  }

  .about, .contact {
    padding-left: 20px;
  }

  .blog {
    .blog-entry {
      aside {
        float: right;
      }
      article {
        margin-left: 0;

        h3 {
          margin-top: 0;
          margin-left: 0;
          height: auto;
        }
      }
    }
  }

  .work {
    padding-top: 10px;

    .indent {
      margin-top: 0;
      margin-left: 20px;
    }

    .year-box {
      display: none;
    }
    .work-group {
      margin-left: 20px;
      margin-right: 20px;
    }
    .work-item {
      width: 100%;
      margin-right: 0;
    }
    .work-item .work-aux {
      float: none;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px;
    }
    .work-item .picture-frame {
      margin-left: 0;
    }
    .work-item .picture {
      //background-size: 200%;
    }

    // full portfolio view
    .work-detail {
      margin-left: 0;
      padding-right: 0;
      .work-aux {

        width: auto;
        height: auto;
        float: none;

        .completed {
          float: left;
        } .url {
          float: right;
        }

        .techs {
          display: none;
        }
      }
      .picture-frame {
        margin-left: 0;
      }
    }

    .work-description {
      margin-left: 20px;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  
  .work {
    
    .year-box {
      
    }
    .work-group {
      
    }
    .work-item .work-aux {
      width: 240px;
      height: auto;
    }
    .work-item .picture-frame {
      
    }

    .work-detail {
      .work-aux {
        .completed, .url {
          float: none;
        }
        .completed {
          margin-bottom: 2px;
        } .url {
          margin-bottom: 6px;
        }
      }
    }
    
  }

}

code .hll { background-color: #ffffcc }
code  { background: #f8f8f8; }
code .c { color: #8f5902; font-style: italic } /* Comment */
code .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
code .g { color: #000000 } /* Generic */
code .k { color: #204a87; font-weight: bold } /* Keyword */
code .l { color: #000000 } /* Literal */
code .n { color: #000000 } /* Name */
code .o { color: #ce5c00; font-weight: bold } /* Operator */
code .x { color: #000000 } /* Other */
code .p { color: #000000; font-weight: bold } /* Punctuation */
code .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
code .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
code .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
code .cs { color: #8f5902; font-style: italic } /* Comment.Special */
code .gd { color: #a40000 } /* Generic.Deleted */
code .ge { color: #000000; font-style: italic } /* Generic.Emph */
code .gr { color: #ef2929 } /* Generic.Error */
code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
code .gi { color: #00A000 } /* Generic.Inserted */
code .go { color: #000000; font-style: italic } /* Generic.Output */
code .gp { color: #8f5902 } /* Generic.Prompt */
code .gs { color: #000000; font-weight: bold } /* Generic.Strong */
code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
code .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
code .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
code .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
code .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
code .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
code .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
code .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
code .ld { color: #000000 } /* Literal.Date */
code .m { color: #0000cf; font-weight: bold } /* Literal.Number */
code .s { color: #4e9a06 } /* Literal.String */
code .na { color: #c4a000 } /* Name.Attribute */
code .nb { color: #204a87 } /* Name.Builtin */
code .nc { color: #000000 } /* Name.Class */
code .no { color: #000000 } /* Name.Constant */
code .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
code .ni { color: #ce5c00 } /* Name.Entity */
code .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
code .nf { color: #000000 } /* Name.Function */
code .nl { color: #f57900 } /* Name.Label */
code .nn { color: #000000 } /* Name.Namespace */
code .nx { color: #000000 } /* Name.Other */
code .py { color: #000000 } /* Name.Property */
code .nt { color: #204a87; font-weight: bold } /* Name.Tag */
code .nv { color: #000000 } /* Name.Variable */
code .ow { color: #204a87; font-weight: bold } /* Operator.Word */
code .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
code .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
code .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
code .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
code .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
code .sb { color: #4e9a06 } /* Literal.String.Backtick */
code .sc { color: #4e9a06 } /* Literal.String.Char */
code .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
code .s2 { color: #4e9a06 } /* Literal.String.Double */
code .se { color: #4e9a06 } /* Literal.String.Escape */
code .sh { color: #4e9a06 } /* Literal.String.Heredoc */
code .si { color: #4e9a06 } /* Literal.String.Interpol */
code .sx { color: #4e9a06 } /* Literal.String.Other */
code .sr { color: #4e9a06 } /* Literal.String.Regex */
code .s1 { color: #4e9a06 } /* Literal.String.Single */
code .ss { color: #4e9a06 } /* Literal.String.Symbol */
code .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
code .vc { color: #000000 } /* Name.Variable.Class */
code .vg { color: #000000 } /* Name.Variable.Global */
code .vi { color: #000000 } /* Name.Variable.Instance */
code .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */

/* lightbox styles */

#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url('/images/layout/prev.png') left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url('/images/layout/next.png') right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}