!!! 5
%html{:lang => 'en'}
	%head
		%meta{:charset => 'utf-8'}
		- if @item[:description]
			%meta{:name => 'description', :content => @item[:description]}
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
		%title= @item[:title] + ' | clarkdave.net'
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro|Source+Serif+Pro'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Brawler'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css'}
		%script{:src => '/scripts/modernizr.js'}
		%script
			:plain
				var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-28879115-1']);_gaq.push(['_trackPageview']);
				(function() {
				  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
	%body
		%section{:id => 'page', :class => 'container'}
			%header
				%a{:href => '/', :title => 'clarkdave.net'}
					%h1 clarkdave.net
				= render 'nav', :menu => (@item[:menu] or 'default')
				%aside
					%a{:class => 'github', :href => 'https://github.com/clarkdave', :title => 'me on GitHub'}
					%a{:class => 'linkedin', :href => 'http://uk.linkedin.com/in/clarkdavedotnet', :title => 'me on LinkedIn'}
					%a{:class => 'twitter', :href => 'https://twitter.com/clarkdave', :title => 'me on Twitter'}
			= yield
		%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
		%script{:src => '/scripts/lightbox.js'}