!!! 5
%html{:lang => 'en'}
	%head
		%meta{:charset => 'utf-8'}
		%title= 'clarkdave.net | ' + @item[:title]
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css'}
	%body
		%section{:id => 'page', :class => 'container'}
			%header
				%h1 clarkdave.net
				= render 'nav', :menu => (@item[:menu] or 'default')
				%aside
					%a{:class => 'github', :href => 'https://github.com/clarkdave', :title => 'me on GitHub'}
					%a{:class => 'linkedin', :href => 'http://uk.linkedin.com/in/clarkdavedotnet', :title => 'me on LinkedIn'}
					%a{:class => 'twitter', :href => 'https://twitter.com/clarkdave', :title => 'me on Twitter'}
			= yield