!!! 5
%html{:lang => 'en'}
	%head
		%meta{:charset => 'utf-8'}
		%title= @item[:title] + ' | clarkdave.net'
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css'}
		%script
			:plain
				var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-28879115-1']);_gaq.push(['_trackPageview']);
				(function() {
				  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
	%body
		%section{:id => 'page', :class => 'container'}
			%header
				%h1 clarkdave.net
				= render 'nav', :menu => (@item[:menu] or 'default')
				%aside
					%a{:class => 'github', :href => 'https://github.com/clarkdave', :title => 'me on GitHub'}
					%a{:class => 'linkedin', :href => 'http://uk.linkedin.com/in/clarkdavedotnet', :title => 'me on LinkedIn'}
					%a{:class => 'twitter', :href => 'https://twitter.com/clarkdave', :title => 'me on Twitter'}
			= yield