- render 'default' do
  %section{:id => 'content', :class => 'work'}
    .work-detail
      %h2= item[:title]
      .detail-box
        .picture{:style => 'background-image:url(' + portfolio_image_url(item, 'large') + ')'}
        .status
          .date
            %strong Completed: 
            June 2011
          .url
            %strong URL: 
            = item[:url]
        .description
          = yield