---
title: About me
menu: about
---
%section{:id => 'content', :class => 'about'}
  %h2 About me
  .bio
    %p
      I'm Dave Clark, a software developer and technical co-founder at <a href='https://loyaltylion.com'>LoyaltyLion</a>, a <a href='https://www.startupbootcamp.org'>Startupbootcamp Berlin</a> alumnus. In the past I've worked at Sun Microsystems and <a href='https://oracle.com'>Oracle</a> in the web engineering team, and was the lead web developer at the University of Kent's web team.
    %p
      I use a lot of Ruby and Javascript at the moment, but also have extensive experience with Java and PHP.
    %p
      This site has <strong>#{posts_count}</strong> posts and about <strong>#{number_with_delimiter(words_count)}</strong> words. It's built using <a href='https://middlemanapp.com/'>Middleman</a>, which is a Ruby static site generator. It used to use <a href='https://nanoc.stoneship.org'>nanoc</a>, another static site generator, but because I primarily use this site as a blog, Middleman has nicer tooling for that  purpose. The source for this site is <a href='https://github.com/clarkdave/clarkdave.net'> on GitHub</a>.
  .social
    %a{:class => 'cv', :href=>'/cv'} CV
    %a{:class => 'linkedin', :href=>'https://uk.linkedin.com/in/clarkdavedotnet'}
    %a{:class => 'github', :href=>'https://github.com/clarkdave'}
    %a{:class => 'twitter', :href=>'https://twitter.com/clarkdave'}
